<html ng-app="pong">
<head>
	<title>Partial Derp</title>


	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>

	<script src="pong.js"></script>
 
</head>

<body>


	<div ng-controller="statsController">	

		<div game></div>

		<div bar-chart h="100" w="40"></div bar-chart>
		<div pie-chart r="100"></div>
		
			<input ng-model="dataset[0].number">{{dataset[0].number}}</input>
			<input ng-model="dataset[1].number">{{dataset[1].number}}</input>

			<p>{{dataset}}</p>





	</div>


</div>


</body>

</html>


